
@{
    ViewData["Title"] = "Menu";
    Layout = "_LayoutHome";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Menu - Phuc&#33;Coffee </title>
    <link rel="stylesheet" href="~/css/style.css">
	<style>
		.pb-3 {
			margin-top: 75px !important;
		}
	</style>
</head>
<body>
    <div id="page">
        <div>
            <div id="header">
				<a href=""><img src="~/images/logo_new.png" alt="Image" style="width: 35%; margin-top: 13px;"></a>
                <ul>
                    <li>
                        <a href="TrangChu">Home</a>
                    </li>

                    <li class="current">
                        <a href="">Menu</a>
                    </li>
                </ul>
            </div>
			<div id="body">
				<div id="figure">
					<img src="~/images/headline-menu.jpg" alt="Image">
					<span>Danh sách menu cà phê</span>
				</div>
				<div>
					<a href="menu.html" class="whatshot">What&#39;s Hot</a>
					<div>
						<ul>
							<li>
								<a href="@Url.Action("ListCaphe", "NguoiDung")"><img src="~/images/coffee1.jpg" alt="Image"></a>
								<div>
									<a href="@Url.Action("ListCaphe", "NguoiDung")">Cappuccino</a>
									<p style="font-family: Arial, sans-serif !important; font-style:italic">
										Giá ưu đãi 35,000VND
									</p>
								</div>
							</li>
							<li>
								<a href="@Url.Action("ListCaphe", "NguoiDung")"><img src="~/images/coffee2.jpg" alt="Image"></a>
								<div>
									<a href="@Url.Action("ListCaphe", "NguoiDung")">Cà phê latte</a>
									<p style="font-family: Arial, sans-serif !important; font-style:italic">
											Giá ưu đãi 30,000VND
									</p>
								</div>
							</li>
							<li>
								<a href="@Url.Action("ListCaphe", "NguoiDung")"><img src="~/images/coffee3.jpg" alt="Image"></a>
								<div>
									<a href="@Url.Action("ListCaphe", "NguoiDung")" style="padding: 3px !important">Macchiato (Nóng)</a>
									<p style="font-family: Arial, sans-serif !important; font-style:italic">
										Giá ưu đãi 35,000VND
									</p>
								</div>
							</li>
							<li>
								<a href="@Url.Action("ListCaphe", "NguoiDung")"><img src="~/images/coffee4.jpg" alt="Image"></a>
								<div>
									<a href="@Url.Action("ListCaphe", "NguoiDung")" style="font-family: Arial, sans-serif !important; font-weight:900 !important">Cà phê Latte đá</a>
									<p style="font-family: Arial, sans-serif !important; font-style:italic">
										Giá ưu đãi 40,000VND
									</p>
								</div>
							</li>
							<li>
								<a href="@Url.Action("ListCaphe", "NguoiDung")"><img src="~/images/coffee5.jpg" alt="Image"></a>
								<div>
									<a href="@Url.Action("ListCaphe", "NguoiDung")">Cà phê caramel</a>
									<p style ="font-family: Arial, sans-serif !important; font-style:italic">
										Giá ưu đãi 35,000VND
									</p>
								</div>
							</li>
							<li>
								<a href="@Url.Action("ListCaphe", "NguoiDung")"><img src="~/images/coffee7-Photoroom.png" alt="Image" style="width: 109%"></a>
								<div>
									<a href="@Url.Action("ListCaphe", "NguoiDung")" style="font-family: Arial, sans-serif !important; font-weight:900 !important">Americano đá</a>
									<p style="font-family: Arial, sans-serif !important; font-style:italic">
										Giá ưu đãi 30,000VND
									</p>
								</div>
							</li>
							<li>
								<a href="@Url.Action("ListCaphe", "NguoiDung")"><img src="~/images/coffee8-Photoroom.png" alt="Image" style="width: 95%"></a>
								<div>
									<a href="@Url.Action("ListCaphe", "NguoiDung")" style="font-family: Arial, sans-serif !important; font-weight:900 !important">Cà phê đá</a>
									<p style="font-family: Arial, sans-serif !important; font-style:italic">
										Giá ưu đãi 15,000VND
									</p>
								</div>
							</li>
							<li>
								<a href="@Url.Action("ListCaphe", "NguoiDung")"><img src="~/images/coffee9.png" alt="Image" style="width: 95%"></a>
								<div>
									<a href="@Url.Action("ListCaphe", "NguoiDung")" style="font-family: Arial, sans-serif !important; font-weight:900 !important">Cà phê sữa đá</a>
									<p style="font-family: Arial, sans-serif !important; font-style:italic">
										Giá ưu đãi 20,000VND
									</p>
								</div>
							</li>
							<li>
								<a href="@Url.Action("ListCaphe", "NguoiDung")"><img src="~/images/coffee1.jpg" alt="Image"></a>
								<div>
									<a href="@Url.Action("ListCaphe", "NguoiDung")" style="font-family: Arial, sans-serif !important; font-weight:900 !important">Cappucciano Lớn</a>
									<p style="font-family: Arial, sans-serif !important; font-style:italic">
										Giá ưu đãi 45,000VND
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="footer">
				<div>
					<a href="index.html"><img src="~/images/logo_new.png" alt="Image" style="height: 46px;"></a>
					<p class="footnote">
						&copy; Phuc Coffee&#33;<br>All Rights Reserved.
					</p>
				</div>
				<div class="section">
					<ul>
						<li>
							<a href="">Home</a>
						</li>
						<li class="current">
							<a href="">Menu</a>
						</li>
						<li>
							<a href="">Locations</a>
						</li>
						<li>
							<a href="">Blog</a>
						</li>
						<li>
							<a href="">About Us</a>
						</li>
					</ul>
					<div id="connect">
						<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" id="facebook">Facebook</a>
						<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" id="twitter">Twitter</a>
						<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" id="googleplus">Google+</a>
						<a href="index.html" id="rss">RSS</a>
					</div>	
					<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
					<df-messenger intent="WELCOME"
								  chat-title="CoffeeChatBot"
								  agent-id="42d11d89-b9c8-440b-b546-e581580578cf"
								  language-code="vi"></df-messenger>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
</html>

